@media only screen and (max-width: 700px) {

                                  .container {
                                      width: 94%!important;
                                      padding: 0px!important;
                                      margin: 13px 0px 0px 0px!important;
                                      text-align: center;
                                      background-color: transparent;
                                  }

                                  #slider {
                                      margin: 0 auto!important;
                                      list-style: none!important;
                                      position: relative!important;
                                      width: 95%!important;
                                      margin-left: 5px!important;
                                      height: 295px!important;
                                      padding: 10px!important;
                                      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)!important;
                                  }

                                  #controllers {
                                      display: none!important;
                                  }


}